[workspace]
resolver = "3"
members = [ "ipc", "ipc-macros", "tryfol-bar"]

[workspace.dependencies]
ipc.path = "ipc"
ipc-macros.path = "ipc-macros"

anyhow = "1"
async-stream = "0.3.6"
futures = "0.3.31"
log = "0.4"
thiserror = "2.0.17"
tokio = { version = "1" }
